body {
    background-color: rgb(212, 53, 53);
}

h1,
a {
    font-family: 'Caveat', cursive;
    color: rgb(112, 14, 14);
    text-align: center;
}

h1{
    text-decoration: bold;
}

a {
    font-size: 20px;
}

.alt-font {
    font-family: 'Courier New', monospace;
    font-size: 25px;
}

.pfp {
    display: flex;
    align-items: center;
    gap: 0px;
    text-decoration: none;
}

.pfp img {
    width: 33px;
    height: 25px;
}

.githubrepo {
    position: absolute;
    right: 0px;
    top: 50px;
}

.brody147 {
    text-align: left;
    color: rgb(119, 18, 18);
    font-family: 'Caveat', cursive;
    font-weight: bold;
}